<!-- Modal About -->
<ion-modal-view ng-controller="About as a">

    <!-- Header -->
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title"><span ng-show="a.Loader.first === true">Benvenuto in </span>Visual Search App</h1>
    </ion-header-bar>

    <!-- Contenuto -->
    <ion-content overflow-scroll="false" scrollbar-y="false">
        <div class="card">
            <div class="item item-divider">Informazioni</div>
            <div class="item item-body">
                <img class="vs-logo" src="images/logo.png">
                <h2>Grazie per aver scelto l'applicazione Visual Search!</h2>
                <p>Seleziona un servizio di ricerca visuale dal menù a sinistra e visualizza a schermo le relative informazioni.</p>
                <p>Imposta le opzioni (generali o relative al servizio selezionato) premendo il pulsante in alto a destra.</p>
                <p>Scatta una foto o caricala dalla libreria premendo i pulsanti in basso.</p>
                <p>Visualizza a schermo i risultati ottenuti.</p>
                <p>Per visualizzare nuovamente questa pagina premi sul titolo o sul logo nella barra in alto, buon divertimento!</p>
            </div>
        </div>
        <button class="button button-full button-positive" ng-click="a.Layout.aboutModal.hide()">OK</button>
    </ion-content>

</ion-modal-view>
