<ion-footer-bar class="bar bar-positive">
    <div class="button-bar">
        <a class="button button-clear" ng-click="m.getPhoto()">SCATTA</a>
        <a class="button button-clear" ng-click="m.getPhoto(true)">CARICA</a>
    </div>
</ion-footer-bar>
<!--<button class="button button-large button-positive button-fixed-left"><i class="icon ion-camera"></i>  Scatta</button>
<button class="button button-large button-positive button-fixed-right"><i class="icon ion-image"></i>  Carica</button>-->
