<ion-header-bar align-title="left" class="bar-positive">
    <!-- Pulsante del menù -->
    <button class="button button-icon" ng-click="m.Layout.toggleSideMenu()">
        <i class="icon ion-navicon"></i>
    </button>

    <!-- Titolo con logo plain -->
    <h1 class="title" ng-click="m.Layout.aboutModal.show()"><img src="images/header.png" class="vs-header-logo">Visual Search App</h1>

    <!-- Pulsante delle impostazioni -->
    <button class="button button-icon" ng-click="m.Layout.settingsModal.show()">
        <i class="icon ion-gear-a"></i>
    </button>
</ion-header-bar>
