<ion-header-bar align-title="left" class="bar-positive">
    <!-- Menu button -->
    <button class="button button-icon" ng-click="m.Layout.toggleSideMenu()">
        <i class="icon ion-navicon"></i>
    </button>

    <h1 class="title"><img src="images/header.png" class="vs-header-logo">Visual Search App</h1>

    <!-- Settings button -->
    <button class="button button-icon" ng-click="m.Layout.showSettings()">
        <i class="icon ion-gear-a"></i>
    </button>
</ion-header-bar>
