<div class="card">
    <div class="item item-divider">{{m.Loader.active.names.engine}}: {{m.Loader.active.names.set}}</div>
    <div class="item item-body" ng-show="m.photo !== ''">
        <img class="vs-photo" ng-src="{{m.photo}}">
    </div>
    <!--CLOUDSIGHT INFO-->
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'CloudSight' && m.photo === ''">
        <img class="vs-logo" src="images/cloudsight.svg">
        <p>Il servizio permette l'identificazione generale dell'oggetto fotografato, restituendo una descrizione appropriata nel 100% dei casi, anche se i tempi di attesa sono maggiori rispetto agli altri servizi implementati.</p>
        <p>Per utilizzare il servizio è necessario ottenere una chiave di accesso da inserire nelle impostazioni dell'applicazione (pulsante in alto a destra, inserire il valore "API Key").</p>
        <p>&Egrave; possibile ottenere una chiave di accesso gratuita (valida per un totale di 500 richieste) iscrivendosi al seguente indirizzo: <a href="http://cloudsightapi.com/api_client_users/new">http://cloudsightapi.com/api_client_users/new</a>.</p>
        <p>&Egrave; possibile monitorare l'utilizzo della propria chiave di accesso dalla dashboard al seguente indirizzo: <a href="https://cloudsightapi.com/dashboard">https://cloudsightapi.com/dashboard</a>.</p>
    </div>
    <!--IMAGGA INFO-->
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'Imagga' && m.photo === ''">
        <img class="vs-logo" src="images/imagga.svg">
        <p>Il servizio permette l'identificazione generale dell'oggetto fotografato, restituendo un insieme di tag con il relativo livello di accuratezza in percentuale.</p>
        <p>Per utilizzare il servizio è necessario ottenere una chiave di accesso da inserire nelle impostazioni dell'applicazione (pulsante in alto a destra, inserire il valore "Authorization").</p>
        <p>&Egrave; possibile ottenere una chiave di accesso gratuita (limitata a 2000 richieste mensili) iscrivendosi al seguente indirizzo: <a href="https://imagga.com/auth/signup/hacker">https://imagga.com/auth/signup/hacker</a>.</p>
        <p>&Egrave; possibile monitorare l'utilizzo della propria chiave di accesso dalla dashboard al seguente indirizzo: <a href="https://imagga.com/profile/dashboard">https://imagga.com/profile/dashboard</a>.</p>
    </div>
    <!--JUSTVISUAL INFO-->
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'JustVisual' && m.photo === ''">
        <img class="vs-logo" src="images/justvisual.jpg">
        <p>Il servizio permette la ricerca nei repository specializzati proprietari (Fashion, Flowers & Plants, Furniture e Pet), restituendo un insieme di immagini similari con la relativa descrizione e link di riferimento.</p>
        <p>Per utilizzare il servizio è necessario ottenere una chiave di accesso da inserire nelle impostazioni dell'applicazione (pulsante in alto a destra).</p>
        <p>&Egrave; possibile ottenere una chiave di accesso gratuita (valida per un periodo di tempo limitato) iscrivendosi al seguente indirizzo: <a href="http://justvisual.com/contact/">http://justvisual.com/contact/</a>.</p>
        <p>L'applicazione implementa la possibilità del servizio di definire un repository personalizzato a pagamento, per maggiori informazioni fare riferimento al seguente indirizzo: <a href="http://justvisual.com/custom-search-api/">http://justvisual.com/custom-search-api/</a>.</p>
    </div>
    <!--GOOGLECLOUDVISION INFO-->
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'Google Cloud Vision' && m.photo === ''">
        <img class="vs-logo" src="images/google.png">
        <p>Il servizio permette l'identificazione generale (label), luoghi o monumenti (landmark), loghi e testo, restituendo un insieme di tag con il relativo livello di accuratezza in percentuale.</p>
        <p>Per utilizzare il servizio è necessario ottenere una chiave di accesso da inserire nelle impostazioni dell'applicazione (pulsante in alto a destra).</p>
        <p>&Egrave; possibile ottenere una chiave di accesso (previo inserimento dei dati di pagamento, con quota gratuita fino a 1000 richieste mensili) seguendo le istruzioni al seguente indirizzo: <a href="https://cloud.google.com/vision/docs/getting-started">https://cloud.google.com/vision/docs/getting-started</a>.</p>
        <p>&Egrave; possibile monitorare l'utilizzo della propria chiave di accesso dalla dashboard al seguente indirizzo: <a href="https://console.cloud.google.com/home/dashboard">https://console.cloud.google.com/home/dashboard</a>.</p>
    </div>
    <!--METAMIND INFO-->
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'MetaMind' && m.photo === ''">
        <img class="vs-logo" src="images/metamind.png">
        <p>Il servizio permette la definizione di classifier personalizzati oltre alla ricerca nei classifier preimpostati general e food, restituendo un insieme di tag con il relativo livello di accuratezza in percentuale.</p>
        <p>Per utilizzare il servizio è necessario ottenere una chiave di accesso da inserire nelle impostazioni dell'applicazione (pulsante in alto a destra, inserire nel formato "Basic chiave").</p>
        <p>&Egrave; possibile ottenere una chiave di accesso gratuita (limitata a 3000 richieste mensili) iscrivendosi al seguente indirizzo: <a href="https://www.metamind.io/">https://www.metamind.io/</a>.</p>
        <p>&Egrave; possibile monitorare l'utilizzo della propria chiave di accesso dalla dashboard al seguente indirizzo: <a href="https://www.metamind.io/auth/my_account">https://www.metamind.io/auth/my_account</a>.</p>
        <p>&Egrave; possibile definire classifier personalizzati dalla pagina al seguente indirizzo: <a href="https://www.metamind.io/my_stuff">https://www.metamind.io/my_stuff</a>.</p>
        <p>Nota: il servizio è stato acquisito da una società terza durante il periodo di svilippo di questa applicazione e termina la propria attività dal 4 maggio 2016. Ne viene mantenuta l'implementazione nel caso di una futura riapertura.</p>
    </div>
</div>
