<div class="card">
    <div class="item item-divider">{{m.Loader.active.names.engine}}: {{m.Loader.active.names.set}}</div>
    <div class="item item-body" ng-show="m.photo !== ''">
        <img class="vs-photo" ng-src="{{m.photo}}">
    </div>
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'CloudSight' && m.photo === ''">
        <img class="vs-logo" src="images/cloudsight.svg">
    </div>
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'Imagga' && m.photo === ''">
        <img class="vs-logo" src="images/imagga.svg">
    </div>
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'JustVisual' && m.photo === ''">
        <img class="vs-logo" src="images/justvisual.jpg">
    </div>
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'GoogleCloudVision' && m.photo === ''">
        <img class="vs-logo" src="images/google.png">
    </div>
    <div class="item item-body" ng-show="m.Loader.active.names.engine === 'MetaMind' && m.photo === ''">
        <img class="vs-logo" src="images/metamind.png">
    </div>
</div>
