<ion-side-menu-content>
    
    <vs-header></vs-header>

    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">{{m.Loader.active.names.engine}}: {{m.Loader.active.names.set}}</div>
            <div class="item item-body" style="text-align:center;">
                <img class="vs-photo" ng-show="m.photo !== ''" ng-src="{{m.photo}}">
                <!--<img class="vs-logo" src="images/imagga.svg">
                <img class="vs-logo" src="images/cloudsight.svg">
                <img class="vs-logo" src="images/google.png">
                <img class="vs-logo" src="images/metamind.png">
                <img class="vs-logo" src="images/justvisual.jpg">-->
            </div>
        </div>
        <!--CLOUDSIGHT RESULTS http://cloudsightapi.com/dashboard -->
        <div class="card" ng-show="m.results.ok === true && m.Loader.active.names.engine === 'CloudSight'">
            <div class="item item-divider">
                Result status: {{m.results.content.status}}
                <span style="display:inline-block;float:right">Polling time: {{m.results.content.time.toFixed(1)}} sec</span>
            </div>
            <div class="item" style="text-transform:capitalize">{{m.results.content.name}}</div>
        </div>
        <!--IMAGGA RESULTS https://imagga.com/profile/dashboard -->
        <div class="card" ng-show="m.results.ok === true && m.Loader.active.names.engine === 'Imagga'">
            <div class="item item-divider">Results</div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item ng-repeat="tag in m.results.content.tags | limitTo: 10">
                        <span style="text-transform:capitalize">{{tag.tag}}</span>
                        <span class="item-note">{{tag.confidence.toFixed(1)}}%</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <!--JUSTVISUAL RESULTS-->
        <div class="card" ng-show="m.results.ok === true && m.Loader.active.names.engine === 'JustVisual'">
            <div class="item item-divider">Results</div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item ng-repeat="result in m.results.content.images" class="item-thumbnail-left">
                        <img ng-src="{{result.imageUrl}}">
                        <a ng-href="{{result.pageUrl}}">{{result.title}}</a>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <!--GOOGLECLOUDVISION RESULTS-->
        <div class="card" ng-show="m.results.ok === true && m.Loader.active.names.engine === 'GoogleCloudVision'">
            <div class="item item-divider" ng-show="m.activeEngine.set != 'Text Detection'">Results</div>
            <div class="item item-divider" ng-show="m.activeEngine.set == 'Text Detection'">
                Language: {{m.results.content.responses[0].textAnnotations[0].locale}}
            </div>
            <div class="item item-text-wrap">
                <!--LABEL-->
                <ion-list>
                    <ion-item ng-repeat="label in m.results.content.responses[0].labelAnnotations">
                        <span>{{label.description}}</span>
                        <span class="item-note">{{(label.score * 100).toFixed(1)}}%</span>
                    </ion-item>
                </ion-list>
                <!--LANDMARK-->
                <ion-list>
                    <ion-item ng-repeat="landmark in m.results.content.responses[0].landmarkAnnotations">
                        <span>{{landmark.description}}</span>
                        <span class="item-note">{{(landmark.score * 100).toFixed(1)}}%</span>
                    </ion-item>
                </ion-list>
                <!--LOGO-->
                <ion-list>
                    <ion-item ng-repeat="logo in m.results.content.responses[0].logoAnnotations">
                        <span>{{logo.description}}</span>
                        <span class="item-note">{{(logo.score * 100).toFixed(1)}}%</span>
                    </ion-item>
                </ion-list>
                <!--TEXT-->
                <p>{{m.results.content.responses[0].textAnnotations[0].description}}</p>
            </div>
        </div>
        <!--METAMIND RESULTS https://www.metamind.io/auth/my_account -->
        <div class="card" ng-show="m.results.ok === true && m.Loader.active.names.engine === 'MetaMind'">
            <div class="item item-divider">Results</div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item ng-repeat="prediction in m.results.content.predictions">
                        <span>{{prediction.class_name}}</span>
                        <span class="item-note">{{(prediction.prob * 100).toFixed(1)}}%</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <!--DATABASE-->
        <div class="card" ng-show="m.results.database.ok === true && (m.Loader.active.names.set === 'Custom Classifier' || m.Loader.active.names.set === 'Custom Index')">
            <div class="item item-divider">Stock quantity: {{m.results.database.stock}}</div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item ng-repeat="product in m.results.database.products">
                        <span>{{product.Name}}</span>
                        <span class="item-note">{{product.Quantity}}</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
    <!--<button class="button button-large button-positive button-fixed-left"><i class="icon ion-camera"></i>  Scatta</button>
    <button class="button button-large button-positive button-fixed-right"><i class="icon ion-image"></i>  Carica</button>-->
    <ion-footer-bar class="bar bar-positive">
        <div class="button-bar">
            <a class="button button-clear" ng-click="m.getPhoto()">SCATTA</a>
            <a class="button button-clear" ng-click="m.getPhoto(true)">CARICA</a>
        </div>
    </ion-footer-bar>
</ion-side-menu-content>
