<ion-modal-view ng-controller="Main as m">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-positive">
        <h1 class="title">Settings</h1>
        <!--<button class="button button-clear" ng-click="m.Layout.hideSettings()">Back</button>-->
        <button class="button button-icon" ng-click="m.Layout.hideSettings()">
            <i class="icon ion-close"></i>
        </button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">General</ion-item>
            <!--OPZIONI GENERALI-->
            <ion-toggle ng-model="m.Picture.settings.save" ng-model-options="{ debounce: 1000 }" ng-change="m.Picture.saveSettings()">Save picture</ion-toggle>
            <label class="item">
                <div class="item-content">Image quality: {{m.Picture.settings.quality}}</div>
                <div class="range range-positive">
                    <i class="icon ion-ios-minus-outline"></i>
                    <input type="range" min="30" max="80" ng-model="m.Picture.settings.quality" ng-model-options="{ debounce: 1000 }" ng-change="m.Picture.saveSettings()">
                    <i class="icon ion-ios-plus-outline"></i>
                </div>
            </label>
            <!--OPZIONI SPECIFICHE PER OGNI MOTORE DI RICERCA-->
            <ion-item class="item-divider">{{m.Loader.active.engine.name}}</ion-item>
            <label class="item item-input">
                <span class="input-label">Key</span>
                <input type="text" ng-model="m.Loader.active.engine.key" ng-model-options="{ updateOn: 'blur' }" ng-change="m.Loader.active.engine.save()">
            </label>
            <!--OPZIONI SPECIFICHE METAMIND CUSTOM-->
            <div ng-show="m.Loader.active.names.set === 'Custom Classifier'">
                <label class="item item-input">
                    <span class="input-label">Custom Classifier ID</span>
                    <input type="text" ng-model="m.Loader.active.engine.sets[2].value" ng-model-options="{ updateOn: 'blur' }" ng-change="m.Loader.active.engine.save()">
                </label>
                <label class="item item-input">
                    <span class="input-label">Database IP</span>
                    <input type="text" ng-model="m.database.ip" ng-model-options="{ updateOn: 'blur' }" ng-change="m.database.save()">
                </label>
            </div>
        </ion-list>
    </ion-content>

</ion-modal-view>
