.vs-title {
    font-weight: bold;
}

.item-assertive.active,
.item-assertive.activated {
    color: #fff;
}

.vs-header-logo {
    height: 20px;
    margin-top: 13px;
    float: right;
}

.vs-photo {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vs-logo {
    width: 100%;
}
/*
.button-fixed {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    width: 90vw;
}

.button-fixed-left {
    position: absolute;
    bottom: 5vh;
    left: 4vw;
    width: 44vw;
}

.button-fixed-right {
    position: absolute;
    bottom: 5vh;
    right: 4vw;
    width: 44vw;
}
*/